Q1. Create a New Database and  Table for Employees.

In [9]:
import sqlite3

In [10]:
conn = sqlite3.connect('company.db')

In [11]:
cursor = conn.cursor()

In [13]:
cursor.execute("DROP TABLE IF EXISTS employees")

In [14]:
cursor.execute("""
CREATE TABLE employees (
    employee_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    department TEXT,
    salary INTEGER,
    hire_date TEXT
)
""")

In [15]:
conn.commit()

In [16]:
conn.close()

In [17]:
print("Database and table created successfully!")

Database and table created successfully!

Q2. Insert Data into Employees Table.

In [21]:
import sqlite3

conn = sqlite3.connect('company.db')
cursor = conn.cursor()

In [23]:
cursor.execute("DELETE FROM employees")
conn.commit()
print("Old data deleted successfully.")

Old data deleted successfully.

In [24]:
import sqlite3

conn = sqlite3.connect('company.db')
cursor = conn.cursor()

employees_data = [
(101, 'Amit', 'Sharma', 'HR', 50000, '2020-01-15'),
(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22'),
(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11'),
(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01'),
(105, 'Arjun', 'Singh', 'Finance', 60000, '2022-02-10')
]

cursor.executemany("INSERT INTO employees VALUES (?, ?, ?, ?, ?, ?)", employees_data)

conn.commit()
print("Data inserted successfully.")

conn.close()

Data inserted successfully.

In [25]:
import sqlite3

conn = sqlite3.connect('company.db')
cursor = conn.cursor()

cursor.execute("""
SELECT * FROM employees
ORDER BY salary ASC
""")

rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

(101, 'Amit', 'Sharma', 'HR', 50000, '2020-01-15')
(105, 'Arjun', 'Singh', 'Finance', 60000, '2022-02-10')
(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22')
(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01')
(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11')

Q3. Display All Employee Records Sorted by Salary (Lowest to Highest).
- he ORDER BY clause is used to sort records in ascending order based on the salary column.
ASC means ascending order (lowest to highest).
Therefore, employees are displayed starting from the lowest salary to the highest salary.

In [26]:
import sqlite3

conn = sqlite3.connect('company.db')
cursor = conn.cursor()

In [27]:
cursor.execute("""
SELECT * FROM employees
ORDER BY salary ASC
""")

rows = cursor.fetchall()

for row in rows:
    print(row)

(101, 'Amit', 'Sharma', 'HR', 50000, '2020-01-15')
(105, 'Arjun', 'Singh', 'Finance', 60000, '2022-02-10')
(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22')
(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01')
(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11')

In [28]:
conn.close()

Q4. Show Employees Sorted by Department (A–Z) and Salary (High → Low)

In [29]:
import sqlite3

conn = sqlite3.connect('company.db')
cursor = conn.cursor()

In [30]:
cursor.execute("""
SELECT * FROM employees
ORDER BY department ASC, salary DESC
""")

rows = cursor.fetchall()

for row in rows:
    print(row)

(105, 'Arjun', 'Singh', 'Finance', 60000, '2022-02-10')
(101, 'Amit', 'Sharma', 'HR', 50000, '2020-01-15')
(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11')
(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01')
(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22')

In [31]:
conn.close()

Q5. List All Employees in IT Department, Ordered by Hire Date (Newest First).

In [32]:
import sqlite3

conn = sqlite3.connect('company.db')
cursor = conn.cursor()

In [33]:
cursor.execute("""
SELECT * FROM employees
WHERE department = 'IT'
ORDER BY hire_date DESC
""")

rows = cursor.fetchall()

for row in rows:
    print(row)

(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01')
(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11')

In [34]:
conn.close()

Q6. Create and Populate a Sales Table

In [35]:
import sqlite3

conn = sqlite3.connect('company.db')
cursor = conn.cursor()

In [36]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS sales (
    sale_id INTEGER PRIMARY KEY,
    customer_name TEXT,
    amount INTEGER,
    sale_date TEXT
)
""")

In [37]:
cursor.execute("DELETE FROM sales")  # Optional: clear old data

sales_data = [
(1, 'Aditi', 1500, '2024-08-01'),
(2, 'Rohan', 2200, '2024-08-03'),
(3, 'Aditi', 3500, '2024-09-05'),
(4, 'Meena', 2700, '2024-09-15'),
(5, 'Rohan', 4500, '2024-09-25')
]

cursor.executemany("INSERT INTO sales VALUES (?, ?, ?, ?)", sales_data)

conn.commit()
print("Sales table created and populated successfully.")

Sales table created and populated successfully.

In [38]:
conn.close()

Q7. Display All Sales Records Sorted by Amount (Highest → Lowest)

In [39]:
import sqlite3

conn = sqlite3.connect('company.db')
cursor = conn.cursor()

In [40]:
cursor.execute("""
SELECT * FROM sales
ORDER BY amount DESC
""")

rows = cursor.fetchall()

for row in rows:
    print(row)

(5, 'Rohan', 4500, '2024-09-25')
(3, 'Aditi', 3500, '2024-09-05')
(4, 'Meena', 2700, '2024-09-15')
(2, 'Rohan', 2200, '2024-08-03')
(1, 'Aditi', 1500, '2024-08-01')

In [41]:
conn.close()

Q8. Show All Sales Made by Customer “Aditi”

In [42]:
import sqlite3

conn = sqlite3.connect('company.db')
cursor = conn.cursor()

In [43]:
cursor.execute("""
SELECT * FROM sales
WHERE customer_name = 'Aditi'
""")

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Aditi', 1500, '2024-08-01')
(3, 'Aditi', 3500, '2024-09-05')

In [44]:
conn.close()

Q9. What is the Difference Between a Primary Key and a Foreign Key?

- Primary Key

  A Primary Key is a column (or a set of columns) that uniquely identifies each record in a table.

- Key Characteristics:

   1.Must contain unique values

   2.Cannot contain NULL values

   3.Only one primary key is allowed per table

   4.Ensures entity integrity.

   5.only one per table.

- Foreign Key

  A Foreign Key is a column that creates a relationship between two tables. It refers to the Primary Key of another table.

- Key Characteristics:

  1.Can contain duplicate values

  2.Can contain NULL values (unless restricted)

  3.Maintains referential integrity

  4.Links related tables together.

  5.Multiple allowed

Q10. What Are Constraints in SQL and Why Are They Used?
- In SQL, constraints are rules applied to table columns to control the type of data that can be inserted into a database. They are used to ensure data accuracy, consistency, and integrity within a table.

  Constraints act as restrictions that prevent invalid or unwanted data from being stored in the database.
- Why Are Constraints Important?

Constraints are important because they:

Maintain data integrity

Prevent incorrect or duplicate entries

Ensure consistency across tables

Enforce business rules

Improve database reliability

Protect relationships between tables

Without constraints, databases may contain incorrect or meaningless data.
Types of Constraints in SQL.

- 1️ PRIMARY KEY

A Primary Key uniquely identifies each record in a table.

Must contain unique values

Cannot contain NULL values

Only one primary key is allowed per table .

- 2 FOREIGN KEY

A Foreign Key is used to create a relationship between two tables.

References the Primary Key of another table

Maintains referential integrity

Prevents invalid data insertion
- 3 NOT NULL

The NOT NULL constraint ensures that a column cannot store NULL values.
- 4 CHECK

The CHECK constraint applies a condition to restrict the values that can be entered.